body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.wrapper {
    margin: 0 auto;
    width: 1500px;
}

h1 {
    text-align: center;
}

.intro {
    box-sizing: border-box;
    border-radius: 20px;
    margin: 0 50px 50px;
    width: 1400px;
    padding: 20px;
}

.first-intro {
    background-color: black;
    color: white;
}

.second-intro {
    color: black;
    background-color: white;
    border: 3px solid black;
}

.column {
    box-sizing: border-box;
    border-radius: 20px;
    float: left;
    width: 675px;
    padding: 10px;
}

.left-column {
    background-color: black;
    color: white;
    margin: 0 25px 50px 50px;
}

.right-column {
    color: black;
    background-color: white;
    border: 3px solid black;
    margin: 0 50px 50px 25px;
}

footer {
    color: white;
    background-color: black;
    clear: both;
    margin: 0 0 0 0;
    padding: 10px;
}