body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.column {
    border-radius: 20px;
    float: left;
    margin: 3.3%;
    width: 25.3%;
    padding: 0.6%;
}

footer {
    color: white;
    background-color: black;
    clear: both;
    padding: 0.6%;
}

.left-column {
    background-color: cyan;
}

.middle-column {
    background-color: orange;
}

.right-column {
    background-color: green;
}

.wrapper {
    margin: 0 auto;
}